{{#get "posts" filter="tag:hash-photo-gallery" as |gallery|}}
<div class="gallery">
	<div class="gallery-item" id="photo-blurb" data-animate='fade-down'>
		{{> photo-blurb}}
	</div>
	<div id="photo-list">
		{{#foreach gallery}}
			<style>
				#featured-bg-{{id}} { content: url({{img_url feature_image}});}
			</style>
			<div class="gallery-item" data-animate='fade-up'>
				<a href="/{{slug}}">
					<div class="grainy">{{ title }}</div>
					<img id="featured-bg-{{id}}"></img>
				</a>
			</div>
		{{/foreach}}
	</div>
</div>
{{/get}}